* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}







/* ------------------ Footer ------------------ */

footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}